policy_module(omotenashicoin, 1.100.1)

########################################
#
# Declarations
#

type omotenashicoin_t;
type omotenashicoin_exec_t;
init_daemon_domain(omotenashicoin_t, omotenashicoin_exec_t)

permissive omotenashicoin_t;

type omotenashicoin_initrc_exec_t;
init_script_file(omotenashicoin_initrc_exec_t)

type omotenashicoin_conf_t;
files_type(omotenashicoin_conf_t)

type omotenashicoin_var_lib_t;
files_type(omotenashicoin_var_lib_t)

type omotenashicoin_var_run_t;
files_type(omotenashicoin_var_run_t)

type omotenashicoin_port_t;
corenet_port(omotenashicoin_port_t)

########################################
#
# omotenashicoin local policy
#
allow omotenashicoin_t self:process { fork };

allow omotenashicoin_t self:fifo_file rw_fifo_file_perms;
allow omotenashicoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(omotenashicoin_t, omotenashicoin_conf_t, omotenashicoin_conf_t)
manage_files_pattern(omotenashicoin_t, omotenashicoin_conf_t, omotenashicoin_conf_t)

manage_dirs_pattern(omotenashicoin_t, omotenashicoin_var_lib_t, omotenashicoin_var_lib_t)
manage_files_pattern(omotenashicoin_t, omotenashicoin_var_lib_t, omotenashicoin_var_lib_t)
files_var_lib_filetrans(omotenashicoin_t, omotenashicoin_var_lib_t, { dir file })

manage_dirs_pattern(omotenashicoin_t, omotenashicoin_var_run_t, omotenashicoin_var_run_t)
manage_files_pattern(omotenashicoin_t, omotenashicoin_var_run_t, omotenashicoin_var_run_t)

sysnet_dns_name_resolve(omotenashicoin_t)
corenet_all_recvfrom_unlabeled(omotenashicoin_t)

allow omotenashicoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(omotenashicoin_t)
corenet_tcp_sendrecv_generic_node(omotenashicoin_t)
corenet_tcp_sendrecv_all_ports(omotenashicoin_t)
corenet_tcp_bind_generic_node(omotenashicoin_t)

gen_require(`
    type omotenashicoin_port_t;
')
allow omotenashicoin_t omotenashicoin_port_t:tcp_socket name_bind;

gen_require(`
    type omotenashicoin_port_t;
')
allow omotenashicoin_t omotenashicoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(omotenashicoin_t)

files_read_etc_files(omotenashicoin_t)

miscfiles_read_localization(omotenashicoin_t)

sysnet_dns_name_resolve(omotenashicoin_t)

allow omotenashicoin_t omotenashicoin_exec_t:file execute_no_trans;
allow omotenashicoin_t self:process setsched;
corecmd_exec_ls(omotenashicoin_t)
corenet_tcp_connect_http_port(omotenashicoin_t)
dev_read_urand(omotenashicoin_t)
fs_getattr_xattr_fs(omotenashicoin_t)
kernel_read_system_state(omotenashicoin_t)
