
## <summary>policy for omotenashicoin</summary>


########################################
## <summary>
##	Transition to omotenashicoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`omotenashicoin_domtrans',`
	gen_require(`
		type omotenashicoin_t, omotenashicoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, omotenashicoin_exec_t, omotenashicoin_t)
')


########################################
## <summary>
##	Execute omotenashicoin server in the omotenashicoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`omotenashicoin_initrc_domtrans',`
	gen_require(`
		type omotenashicoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, omotenashicoin_initrc_exec_t)
')


########################################
## <summary>
##	Search omotenashicoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`omotenashicoin_search_lib',`
	gen_require(`
		type omotenashicoin_var_lib_t;
	')

	allow $1 omotenashicoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read omotenashicoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`omotenashicoin_read_lib_files',`
	gen_require(`
		type omotenashicoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, omotenashicoin_var_lib_t, omotenashicoin_var_lib_t)
')

########################################
## <summary>
##	Manage omotenashicoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`omotenashicoin_manage_lib_files',`
	gen_require(`
		type omotenashicoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, omotenashicoin_var_lib_t, omotenashicoin_var_lib_t)
')

########################################
## <summary>
##	Manage omotenashicoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`omotenashicoin_manage_lib_dirs',`
	gen_require(`
		type omotenashicoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, omotenashicoin_var_lib_t, omotenashicoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a omotenashicoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`omotenashicoin_admin',`
	gen_require(`
		type omotenashicoin_t;
		type omotenashicoin_initrc_exec_t;
		type omotenashicoin_var_lib_t;
	')

	allow $1 omotenashicoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, omotenashicoin_t)

	omotenashicoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 omotenashicoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, omotenashicoin_var_lib_t)

')

